parameters:
	ignoreErrors:
		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: app/GET/AI/Admin.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: app/POST/AI/Chat.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: app/POST/AI/Chat.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Chat.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Chat.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Chat.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 4
			path: app/POST/AI/Tag.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: app/POST/AI/Tag.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: app/POST/AI/Tag.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Tag.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Tag.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: app/POST/AI/Title.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: app/POST/AI/Title.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: app/POST/AI/Title.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Title.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: app/POST/AI/Title.php
